<%= form_with(model: [@user, @recipe]) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% @recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :name, placeholder: 'Name' %>
  </div>

  <div>
    <%= form.number_field :preparation_time, placeholder: 'Preparation time' %>
  </div>

  <div>
    <%= form.number_field :cooking_time,placeholder: 'Cooking time' %>
  </div>

  <div>
    <%= form.text_field :description, placeholder: 'Description' %>
  </div>

  <div>
    <%= form.label :public, style: "display: block" %>
    <%= form.check_box :public %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
