<div class="card">
  <div class="inner-card">
    <div>
  <p>
    <strong>Author:</strong>
    <%= recipe.user.name %>
  </p>
  <p>
    <strong>Dish:</strong>
    <%= recipe.name %>
  </p>
  <p>
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %>
  </p>
  <p>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>
  <p>
    <strong>Public:</strong>
    <%= recipe.public %>
  </p>
  </div>
