<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
    <p>
      <%= link_to "Show this recipe", user_recipe_path(@user, recipe) %>
    </p>
  <% end %>
</div>

<%= link_to "New recipe", new_user_recipe_path %>
<%= link_to "Back to User", user_path(@user) %>

