<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<div>
  <%= link_to "Edit this recipe", edit_user_recipe_path(@user, @recipe) %> |
  <%= link_to "Back to recipes", user_recipes_path(@user) %>

  <%= button_to "Destroy this recipe", user_recipe_path(@user, @recipe), method: :delete %>
</div>
