<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<%= link_to "New ingredient", new_user_recipe_recipe_food_path(@user, @recipe) %>

  <table>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
      <%= render @recipe_foods %>
  </table>


<div>
  <%= link_to "Edit this recipe", edit_user_recipe_path(@user, @recipe) %> |
  <%= link_to "Back to recipes", user_recipes_path(@user) %>

  <%= button_to "Destroy this recipe", user_recipe_path(@user, @recipe), method: :delete %>
</div>
