<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <%= render @users %>
</div>

<%= link_to "Show Recipes", recipes_path %>

<%= link_to "Show Foods", foods_path %>

<%= link_to "New user", new_user_path %>
