<p style="color: green"><%= notice %></p>

<%= link_to "Public Recipes", public_recipes_path %>
<%= render @user %>

<div>
  <%= link_to "Edit User", edit_user_path(@user) %> |

  <%= button_to "Delete User", @user, method: :delete %>
</div>
