<p style="color: green"><%= notice %></p>

<%= render @user %>

<%= link_to "Edit user", edit_user_path(@user) %>

<%= link_to "Back to users", users_path %>

<%= button_to "Delete User", @user, method: :delete %>

<%= link_to "Public Recipes", public_recipes_path %>
