<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<%= @user.name %>


<div id="foods">
  <% @foods.each do |food| %>
    <%= render food %>
    <% if can? :manage, food %>
      <%= link_to "Show this food", user_food_path(@user, food) %>
      <%= link_to "Add Food", new_user_food_path %> <br>
    <% end %>
  <% end %>
</div>

<%= link_to "Back to User", user_path(@user) %>

