<p style="color: green"><%= notice %></p>

<%= render @food %>

<div>
  <%= link_to "Edit this food", edit_user_food_path(@user, @food) %> |
  <%= link_to "Back to foods", user_foods_path(@user) %>

  <%= button_to "Destroy this food", user_food_path(@user, @food), method: :delete %>
</div>
