<nav id="nav-container">
    <a class="nav-logo flex" href="/">
      <img src="<%= asset_path('book.png') %>" alt="RecipeApp">
      <h2>RecipeApp</h2>
    </a>
    
    <ul class="nav-list flex">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item">
        <%=link_to "My Recipes", user_recipes_path(current_user) %>
      </li>
      <li class="nav-item">
        <%=link_to "My Foods", user_foods_path(current_user) %>
      </li>
      <li class="nav-item">
        <%= link_to("Log out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }) %>
      </li>
    </ul>

    <%= link_to edit_user_registration_path, class: 'nav-link flex' do %>
      <p class="logged-user">Welcome, <strong><%= current_user.name.split(' ')[0] %></strong></p>
    <% end %>

      <% else %>
      <li class="nav-item">
        <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Log In', new_user_session_path, class: 'nav-link' %>
      </li>
      <% end %>
    </ul>
  </nav>
